<div class="main-container">
  <h1>Lista de Tareas</h1>
  <div>
    <form [formGroup]="taskForm" (ngSubmit)="addTask()">
      <input formControlName="title" placeholder="Título" />
      <input formControlName="description" placeholder="Descripción" />
      <button type="submit">Agregar Tarea</button>
    </form>
  </div>
  <div>
    <app-task-card
      *ngFor="let task of tasks"
      [task]="task"
      (delete)="deleteTask($event)"
      (toggleStatus)="toggleTaskStatus($event)"
    >
    </app-task-card>
  </div>
</div>
